@charset "UTF-8";

/* 관리자 전용 nav */
aside{
	position : relative;
    float: left;
    top : 300px;
    left : 5%;
    z-index : 100;
}
.admin_menu_area {
    width: 115px;
    height: 287px;
    background: var(--light-gray);
    box-shadow: 5px 5px 5px 0.2px rgba(0, 0, 0, 0.1);

}
aside img {
    padding-top: 15px;
    width: 50px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#menu_title h2 {
    margin: 15px 0;
    text-align: center;
}
#menu_hr {
    height: 2px;
    width: 100%;
    background: var(--gray-color);
    position: block;
}
#menu_detail h3{
	text-align : center;
	padding : 5px 0;
	background : var(--gray-color);
    color : white;
}
#menu_detail li>button{
	width : 100%;
	padding : 5px 0;
	background : transparent;
	font-size : 14px;
	text-align : center;
	cursor : pointer;

}
#menu_detail>li>button:hover {
    background: var(--gray-color);
    color: white;
    transition: 0.1s;
}
/* 관리자 전용 nav 끝 */


/* 관리자 전용 페이지 시작 */
.adminArea h2{
	position : relative;
	left : -50px;
	text-align : center;
}

.adminArea input{
    border : 1px solid var(--gray-color);
}

/* 테이블 css */
.table_area {
	width : 1000px;
	margin-top : 50px;
    height: auto;
}
.m_table {
	width : 850px;
    border-bottom: var(--main-color) solid 3px;
}
.m_table th {
    text-align: center;
    border-top: var(--main-color) solid 3px;
    border-bottom: var(--main-color) solid 3px;
    background-color: rgba(178, 191, 80, 0.1);
    font-size: 13pt;
}
.m_table td {
	padding : 5px 0;
    text-align: center;
    font-size: 12pt;
    font-weight: 400;
}
.m_table tr {
	text-align : center;
    line-height: 35px;
    border-bottom: var(--main-color) solid 1px;
}
/* 표 내부 버튼 공통 css */
#m_btn, #m_btn_ban{
	display : block;
	width : 100px;
	height : 35px;
	border-radius: 5px;
	background-color: var(--main-color);
	font-size: 14px;
    color : white;
    text-align : center;
	cursor : pointer;
}
#m_btn{
	margin : 0 15px;
}

#section_hr {
    height: 2px;
    width: 80%;
    background: var(--main-color);
    position: block;
    margin: 15px auto 10px auto;
}
.d_table {
    margin-top: 15px;
    text-align: left;
    border-collapse: separate;
    border-spacing: 0px 20px;
    font-size: 14px;
}
#submit_btn{
    margin-left: 50%;
    margin-top: 3%;
    margin-bottom: 10%;
    width: 130px;
    height: 40px;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
}
#her_no{
    width: 75px;
}
#her_id{
    width: 615px;
}
#her_table_btn{
    width: 160px;
}


/* 등록 버튼 */
.insert_btn_area{
	margin-top : 50px;
}
#insert_btn{
	display: block;
    width: 250px;
    height : 50px;
    background-color: var(--main-color);
    border-radius: 5px;
    font-size: 21px;
	text-align : center;
	color : white;
}


/* 하단 페이지 네이션 영역 */
.pagingArea {
	text-align : center;
	margin-top : 50px;
}
/* 페이지네이션 버튼 */
#p_btn {
	background-color : var(--main-color);
	color : white;
	border-radius: 5px;
	border: none;
	cursor : pointer;
	width : 25px;
	height : 25px;
	text-align : center;

}