@charset "UTF-8";

/* 
작성일 : 2021-04-20
작성자 : 박수영
작성목적 : Team_나드리 세미프로젝트
 */

 .joinArea{
    padding-top : 150px;
    padding-bottom : 150px;
 }
 .joinArea h2{
    text-align : center;
    padding-bottom : 30px;
 }
 .joinArea h3{
    font-weight : 400;
    margin-bottom : 10px;
}
.joinArea h4{
    font-weight : 400;
}
/* 정보 입력 창에 대한 css */
.joinArea input[type=text],
.joinArea input[type=password],
.joinArea input[type=number]{
    border : 1px solid #636363;
    text-align : left;
}
.joinArea input::-webkit-outer-spin-button,
.joinArea input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.joinArea input[type=text]::-webkit-input-placeholder,
.joinArea input[type=password]::-webkit-input-placeholder,
.joinArea input[type=number]::-webkit-input-placeholder{
    text-align : left;
    padding-left : 3px;
}
.joinArea input[type=radio]{
	display : none;
}


/* 필수 영역 알림 '*'에 대한 css */
.joinArea .red{
    color: red;
    padding-right : 3px;
}
.joinArea .red.visiNone{
	visibility : none;
}


/* 회원가입 소제목 */
.joinTitleArea {
    width: 1000px;
    font-size: 12px;
    position: relative;
    padding: 8px 1px 1px 1px;

}
.join_guide{
    margin-left: 25%;
}

.join_red {
    position: absolute;
    top: 8px;
    right: 220px;
}
.gray_bar {
    background-color: var(--gray-color);
    height: 1px;
    width: 60%;
}


/* 정보 입력 공간 */
.join_container {
    padding : 45px 0 45px 0;
}
.join_table {
    display: flex;
}
.join_title{
    font-size: 14px;
    text-align: right;
    padding: 10px;
}
.join_gender input[value="F"]+label{
	margin-left : 12px;
}
.join_birth input{
	width : 69px;
}
.join_phone select{
	width : 50px;
}
.join_phone input[type=number]{
	width : 78.5px;
}
 #idCheck_btn, #phone_btn, #address_btn{
	height : 25px;
	width: 73px;
	background : var(--main-color);
	color: white;
	border : 0;
	border-radius: 5px;
	cursor : pointer;
	text-align : center;
}
.join_email input{
	width : 98px;
}



/* 관심사 체크 영역 */
.check_table{
    margin-top: 15px;
    text-align: left;
    font-size: 14px;
    width: 480px;
    height: 500px;
}
.check-box{
    margin-left: 10px;
}
#int {
    color : #b7b7b7;
}


/* 하단 버튼 */
.submit_btn{
	width : 1000px;
}
.submit_btn input[type=submit],
.submit_btn input[type=button]{
	display : block;
    width: 300px;
    height: 50px;
    padding: 5px;
    background : var(--main-color);
	border-radius : 5px;
	text-align : center;
	color : white;
    font-size: 21px;
    cursor : pointer;
}
#leave_btn{
	margin-top : 10px;
}